In [4]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [16]:
data=pd.read_csv('sam.csv',error_bad_lines=False, engine="python")
print(data.shape)
data.head(10)

(1032, 6)

              Name  "Team"         "Position"   H    W    Age
0    Adam Donachie   "BAL"          "Catcher"  74  180  22.99
1        Paul Bako   "BAL"          "Catcher"  74  215  34.69
2  Ramon Hernandez   "BAL"          "Catcher"  72  210  30.78
3     Kevin Millar   "BAL"    "First Baseman"  72  210  35.43
4      Chris Gomez   "BAL"    "First Baseman"  73  188  35.71
5    Brian Roberts   "BAL"   "Second Baseman"  69  176  29.39
6    Miguel Tejada   "BAL"        "Shortstop"  69  209  30.77
7      Melvin Mora   "BAL"    "Third Baseman"  71  200  35.07
8      Aubrey Huff   "BAL"    "Third Baseman"  76  231  30.19
9       Adam Stern   "BAL"       "Outfielder"  71  180  27.05

In [12]:
data=pd.read_csv('sample2.csv',error_bad_lines=False, engine="python")
print(data.shape)
data.head(10)

(1034, 6)

Skipping line 1036: unexpected end of data

,Name,"""Team""","""Position""","""Height(inches)""","""Weight(lbs)""","""Age"""
0,Adam Donachie,"""BAL""","""Catcher""",74,180,22.99
1,Paul Bako,"""BAL""","""Catcher""",74,215,34.69
2,Ramon Hernandez,"""BAL""","""Catcher""",72,210,30.78
3,Kevin Millar,"""BAL""","""First Baseman""",72,210,35.43
4,Chris Gomez,"""BAL""","""First Baseman""",73,188,35.71
5,Brian Roberts,"""BAL""","""Second Baseman""",69,176,29.39
6,Miguel Tejada,"""BAL""","""Shortstop""",69,209,30.77
7,Melvin Mora,"""BAL""","""Third Baseman""",71,200,35.07
8,Aubrey Huff,"""BAL""","""Third Baseman""",76,231,30.19
9,Adam Stern,"""BAL""","""Outfielder""",71,180,27.05

In [17]:
X=data['H'].values
Y=data['W'].values

KeyError: 'H'

In [18]:
data=pd.read_csv('sam.csv',error_bad_lines=False, engine="python")
print(data.shape)
data.head(10)

(1032, 6)

              Name  "Team"         "Position"   H    W    Age
0    Adam Donachie   "BAL"          "Catcher"  74  180  22.99
1        Paul Bako   "BAL"          "Catcher"  74  215  34.69
2  Ramon Hernandez   "BAL"          "Catcher"  72  210  30.78
3     Kevin Millar   "BAL"    "First Baseman"  72  210  35.43
4      Chris Gomez   "BAL"    "First Baseman"  73  188  35.71
5    Brian Roberts   "BAL"   "Second Baseman"  69  176  29.39
6    Miguel Tejada   "BAL"        "Shortstop"  69  209  30.77
7      Melvin Mora   "BAL"    "Third Baseman"  71  200  35.07
8      Aubrey Huff   "BAL"    "Third Baseman"  76  231  30.19
9       Adam Stern   "BAL"       "Outfielder"  71  180  27.05

In [23]:
X=data['H'].values
Y=data['W'].values

KeyError: 'H'