In [1]:
import numpy as np
import pandas as pd

In [7]:
n=np.arange(1,25,2)
b=pd.Series(n)
print(b)

0      1
1      3
2      5
3      7
4      9
5     11
6     13
7     15
8     17
9     19
10    21
11    23
dtype: int32

In [9]:
data={'a':12,'b':23,'c':43}
n=pd.Series(data)
print(n)
print(n['a'])

a    12
b    23
c    43
dtype: int64
12

In [13]:
n=np.arange(1,25,2)
x=np.arange(2,26,2)
d=pd.DataFrame(n,x,columns=['ndmd'])
print(d)

    ndmd
2      1
4      3
6      5
8      7
10     9
12    11
14    13
16    15
18    17
20    19
22    21
24    23

In [14]:
n=[['mohit',20],['sagar',25],['rencho',34]]
d=pd.DataFrame(n,columns=['NAME','AGE'])
print(d)

     NAME  AGE
0   mohit   20
1   sagar   25
2  rencho   34

In [16]:
n={'NAME':['mohit','sagar','rencho'],'AGE':[23,34,21]}
d=pd.DataFrame(n)
print(d)

     NAME  AGE
0   mohit   23
1   sagar   34
2  rencho   21

In [25]:
n=pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
print(n)
for value in n.iteritems():
    print(value)
for row_index,rows in n.iterrows():
    print (row_index,rows)

       col1      col2      col3
0  0.290833 -0.432133  0.256445
1  0.842585 -1.251860  0.836968
2  0.818480  0.332016  2.001621
3 -0.562252  0.349530 -0.776434
('col1', 0    0.290833
1    0.842585
2    0.818480
3   -0.562252
Name: col1, dtype: float64)
('col2', 0   -0.432133
1   -1.251860
2    0.332016
3    0.349530
Name: col2, dtype: float64)
('col3', 0    0.256445
1    0.836968
2    2.001621
3   -0.776434
Name: col3, dtype: float64)
0 col1    0.290833
col2   -0.432133
col3    0.256445
Name: 0, dtype: float64
1 col1    0.842585
col2   -1.251860
col3    0.836968
Name: 1, dtype: float64
2 col1    0.818480
col2    0.332016
col3    2.001621
Name: 2, dtype: float64
3 col1   -0.562252
col2    0.349530
col3   -0.776434
Name: 3, dtype: float64

In [26]:
n=pd.Series(['Tom','JERry',np.nan,'STEVE'])
print(n.str.lower())

0      tom
1    jerry
2      NaN
3    steve
dtype: object

In [27]:
print(pd.get_option("display.max_rows"))

60

In [36]:
n=pd.DataFrame(np.random.rand(8,4),index=['a','b','c','d','e','f','g','h'],columns=['A','B','C','D'])
print(n)
print(n.loc[:,'A'])
print(n.loc[['a','c'],['A','D']])

          A         B         C         D
a  0.442702  0.629019  0.917671  0.418573
b  0.035618  0.887450  0.125968  0.065850
c  0.668149  0.186774  0.780706  0.000997
d  0.274772  0.308593  0.961321  0.461777
e  0.864792  0.628455  0.762628  0.101795
f  0.801949  0.761365  0.828643  0.851083
g  0.213808  0.826717  0.613321  0.886260
h  0.282607  0.144603  0.715401  0.064007
a    0.442702
b    0.035618
c    0.668149
d    0.274772
e    0.864792
f    0.801949
g    0.213808
h    0.282607
Name: A, dtype: float64
          A         D
a  0.442702  0.418573
c  0.668149  0.000997

In [37]:
import pandas as pd

In [39]:
ipl={'team':['Riders','Riders','Devils','Devils','kings','Kings','Kings','Kings','Riders','Royals','Royals','Riders'],
    'Rank':[1,2,2,3,3,4,1,1,2,4,1,2],
    'Year':[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
    'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
d=pd.DataFrame(ipl)

In [41]:
print(d.groupby('team'))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000020B6D3DDF88>

In [42]:
print(d.groupby('team').groups)

{'Devils': Int64Index([2, 3], dtype='int64'), 'Kings': Int64Index([5, 6, 7], dtype='int64'), 'Riders': Int64Index([0, 1, 8, 11], dtype='int64'), 'Royals': Int64Index([9, 10], dtype='int64'), 'kings': Int64Index([4], dtype='int64')}

In [43]:
print(d.groupby(['team','Points']).groups)

{('Devils', 673): Int64Index([3], dtype='int64'), ('Devils', 863): Int64Index([2], dtype='int64'), ('Kings', 756): Int64Index([6], dtype='int64'), ('Kings', 788): Int64Index([7], dtype='int64'), ('Kings', 812): Int64Index([5], dtype='int64'), ('Riders', 690): Int64Index([11], dtype='int64'), ('Riders', 694): Int64Index([8], dtype='int64'), ('Riders', 789): Int64Index([1], dtype='int64'), ('Riders', 876): Int64Index([0], dtype='int64'), ('Royals', 701): Int64Index([9], dtype='int64'), ('Royals', 804): Int64Index([10], dtype='int64'), ('kings', 741): Int64Index([4], dtype='int64')}

In [47]:
df=d.groupby('Year')
for name,group in df:
    print(name)
    print(group)

2014
     team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   kings     3  2014     741
9  Royals     4  2014     701
2015
      team  Rank  Year  Points
1   Riders     2  2015     789
3   Devils     3  2015     673
5    Kings     4  2015     812
10  Royals     1  2015     804
2016
     team  Rank  Year  Points
6   Kings     1  2016     756
8  Riders     2  2016     694
2017
      team  Rank  Year  Points
7    Kings     1  2017     788
11  Riders     2  2017     690

In [50]:
grouped=d.groupby('Year')
print(grouped.get_group(2014))

     team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   kings     3  2014     741
9  Royals     4  2014     701

In [51]:
print(grouped['Points'].agg(np.mean))

Year
2014    795.25
2015    769.50
2016    725.00
2017    739.00
Name: Points, dtype: float64

In [52]:
import numpy as np
import pandas as pd

In [53]:
n=np.array(['a','b','c','d'])

In [56]:
d=pd.Series(n,index=[101,102,103,104])
print(d)

101    a
102    b
103    c
104    d
dtype: object

In [57]:
data={'a':1,'b':2,'c':3,'d':4}
print(pd.Series(data))

a    1
b    2
c    3
d    4
dtype: int64

In [60]:
data={'a':1,'b':2,'c':3}
s=pd.Series(data,index=['a','c','d','b'])
print(s)
print(s[1])
print(s[:3])

a    1.0
c    3.0
d    NaN
b    2.0
dtype: float64
3.0
a    1.0
c    3.0
d    NaN
dtype: float64

In [65]:
data=[1,2,3,4,5]
print(pd.DataFrame(data,index=['a','b','c','d','e'],columns=['M']))

   M
a  1
b  2
c  3
d  4
e  5

In [66]:
data=[['Mohit',23],['Sagar',34],['rencho',21]]
print(pd.DataFrame(data,columns=['Name','Age']))

     Name  Age
0   Mohit   23
1   Sagar   34
2  rencho   21

In [67]:
data={'One':pd.Series([1,2,3],index=['a','b','c'])}
print(pd.DataFrame(data))

   One
a    1
b    2
c    3

In [71]:
d=pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(d)
print(d.apply(np.mean,axis=1))
print(d.apply(lambda x:x.max()-x.min()))

       col1      col2      col3
0  0.125903  0.666623  1.178196
1  0.336658  0.950893 -1.375132
2 -0.828111  1.112287 -0.293378
3  0.413521  0.508717 -1.829388
4 -0.405874  3.893818  0.129256
0    0.656907
1   -0.029194
2   -0.003068
3   -0.302383
4    1.205733
dtype: float64
col1    1.241632
col2    3.385101
col3    3.007584
dtype: float64

In [78]:
data={'X':[1,2,3,4,5],'Y':[6,7,8,9,10],'Z':[11,12,123,133,123]}
print(pd.DataFrame(data))
s=pd.DataFrame(data)
print(s.info())
print(s.head(3))
print(s.iloc[:3])

   X   Y    Z
0  1   6   11
1  2   7   12
2  3   8  123
3  4   9  133
4  5  10  123
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       5 non-null      int64
 1   Y       5 non-null      int64
 2   Z       5 non-null      int64
dtypes: int64(3)
memory usage: 248.0 bytes
None
   X  Y    Z
0  1  6   11
1  2  7   12
2  3  8  123
   X  Y    Z
0  1  6   11
1  2  7   12
2  3  8  123

In [98]:
data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts' : [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
d=pd.DataFrame(data,index=labels)
print(d[(d['score']>15)&(d['attempts']<2)])

    name  score  attempts qualify
j  Jonas   19.0         1     yes

In [100]:
print(d['score'].mean())

13.5625